{% extends "industry.html" %}
{% block content %}
<html>
<head>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

	<title>University</title>
	<style>
		.nav-item{
			min-width: 120px;
			text-align: center;
		}
		.btn{
			btn-bg: #6c757d;
		}
	</style>
	<script>
	    	function myFun(){
	    		let dom = document.forms[0];
	    		let txt = "";
	    		let i;

	    		for(i=0; i<dom.length; i++){
	    			if(dom[i].checked){
	    				txt = txt+dom[i].value+ " ";
	    			}
	    		}
	    		document.getElementById("result").value="you selected : "+txt;

	    	}
	    </script>

</head>

<br><br>
<body>
<div class="container">
	<form action = "#" method="POST" enctype = "multipart/form-data">
		<!--	<div class="form-check">-->
		<!--	  <input type="radio" class="form-check-input" name="domain "id="d1" checked>Option 1-->
		<!--	  <label class="form-check-label" for="radio1"></label>-->
		<!--	</div>-->
		<!--	<div class="form-check">-->
		<!--	  <input type="radio" class="form-check-input" name="domain "id="d1">Option 2-->
		<!--	  <label class="form-check-label" for="radio2"></label>-->
		<!--	</div>-->
		<!--	<div class="form-check">-->
		<!--	  <input type="radio" class="form-check-input" name="domain "id="d1">Option 3-->
		<!--	  <label class="form-check-label" for="radio3"></label>-->
		<!--	</div>-->

		Enter Domain Name : <input name="text1" id="text1">
		<br><br>
<!--		<div class="form-group">-->
<!--			<label for="req">Example textarea</label>-->
<!--			<textarea class="form-control" id="req" rows="3" name="text2"></textarea>-->
<!--		</div>-->
		<br>
		<input type="submit">Fetch Data</input>
		<button class="btn btn-primary" onclick="myFun()" type="reset">Clear</button>
		<p id="output"></p>
		{% if mm %}
		<p>{{mm}}</p>
		{%endif%}
	</form>
</div>
</body>
	<br><br>
	{% endblock %}
</html>